@import '../../app/app.scss';

.navmenu-container {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba($gappSuccess, 0.3);
    .card {
        .avatar {
            background-size: cover;
            width: 60px;
            height: 60px;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        .card-title {
            display: flex;
            align-items: center;
            .material-icons {
                font-size: 1.5em;
            }
            span {
                font-size: 0.85em;
            }
        }
        .card-subtitle {
            display: flex;
            align-items: center;
        }
    }
    .sidenav-close-button {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}