<div class="login-container">
    <div class="login-form" [ngClass]="{'loading': loading}">
        <md-toolbar class="login-header">
            <i class="material-icons">lock_outline</i>
            <span>{{"User.login" | translate}}</span>
            <div class="logo">
                <img src="../../../assets/img/logo.png" />
            </div>
        </md-toolbar>
        <md-card-content>
            <div class="form" role="form">
                <md-input-container class="full-width">
                    <input mdInput [(ngModel)]="user.email" #em="ngModel" autocomplete="off" value="" required>
                    <md-placeholder>
                        <md-icon>email</md-icon> {{"User.email" | translate}}
                    </md-placeholder>
                    <md-hint *ngIf="!em.pristine && !user.email">
                        <span><md-icon>error_outline</md-icon>Email is required</span>
                    </md-hint>
                </md-input-container>
                <md-input-container class="full-width">
                    <input mdInput type="password" [(ngModel)]="user.password" #pd="ngModel" value="" autocomplete="off" required>
                    <md-placeholder>
                        <md-icon>lock</md-icon> {{"User.password" | translate}}
                    </md-placeholder>
                    <md-hint *ngIf="!pd.pristine && !user.password">                        
                        <span><md-icon>error_outline</md-icon>Password is required</span>
                    </md-hint>
                </md-input-container>                
                <div class="additional">
                    <div *ngIf="isLoggedIn == false">
                        <span>Wrong email or password</span>
                    </div>
                    <button md-button class="gapp-button primary" (click)="login(user)" [disabled]="!user.email || !user.password">{{"User.login" | translate}}</button>
                    <button md-raised-button class="gapp-button success right" [routerLink]="['../register']">{{"User.signup" | translate}}</button>
                </div>
                <div class="additional social">
                    <span>{{"User.loginVia" | translate}}</span>
                    <button md-fab class="fb" (click)="loginFacebook()"></button>
                    <button md-fab class="g" (click)="loginGoogle()"></button>
                </div>
            </div>
        </md-card-content>
    </div>
    <div *ngIf="loading" class="loading">
        <md-spinner></md-spinner>
    </div>
</div>