@import "../../app/app.scss";

.login-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .login-form {
        width: 450px;
        border: 1px solid $gappPrimary;
        @media #{$mobile-portrait} {
            width: 100%;
            box-sizing: border-box;
        }
        .login-header {
            background-color: $gappPrimary;
            color: $gappWhite;
            position: relative;
            .logo {
                height: 50%;
                margin-left: 10px;
                img {
                    height: 100%;
                }
            }
            .material-icons {
                font-size: 2em;
            }
        }
        &.loading {
            background-color: $gappWhite;
            opacity: 0.4;
        }
    }
    .form {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0 20px;
        .mat-input-wrapper {
            margin: 0.5em 0;
        }
        .mat-hint span {
            display: flex;
            align-items: center;
            font-size: 1.2em;
            .material-icons {
                font-size: 1.2em;
            }
        }   
    }
    .additional {
        margin-top: 15px;
        .fb {
            width: 48px;
            height: 48px;
            background-image: url('../../../../assets/img/fb.png');
            background-position: 50% 50%;
            margin-right: 5px;
        }
        .g {
            width: 48px;
            height: 48px;
            background-image: url('../../../../assets/img/g.png');
            background-position: 50% 50%;
        }
        &.social {
            display: flex;
            align-items: center;
            > span {
                margin-right: 10px;
                font-size: 1.3em;
            }
        }
    }
    .full-width {
        width: 100%;
    }
    .loading {
        @extend .center;
    }
}

