@import '../app/app.scss';

.home-container {
    height: 100%;
    .sidenav {
        width: 350px;
        @media #{$mobile-portrait} {
            width: 100%;
        }
    }
    .sidenav-button {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
    shared-header {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
    shared-footer {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    .main-container {
        height: 100%;
        padding: 50px 10px 44px 10px;
        box-sizing: border-box;
    }
}