@import '../../app/app.component.scss';

.footer-container {
    background-color: $gappSuccess;
    p {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
        color: $gappWhite;
        span {
            font-size: 0.75em;
        }
    }
}