@import '../../app/app.component.scss';

.footer-container {
    background-color: $gappSuccess;
    p {
        margin: 0;
        text-align: center;
        color: $gappBlack;
        padding: 0.5em 0;
        md-icon {
            position: relative;
            top: 5px;
        }
    }
}