@import '../../../assets/global/variables.scss';
//@import '../../../assets/fonts/font.css';

.app-container {
    //min-height: 100vh;
    .sidenav {
        width: 300px;
        background-color: $gappWhite;
    }
    .main-container {
        min-height: 100vh;
        height: 100%;
        .sidenav-button {
            position: absolute;
            top: 0;
            left: 0;
        }
        shared-header {
            display: block;
        }
        shared-footer {
            display: block;
            position: absolute;
            width: 100%;
            bottom: 0;
        }
    }
    .gapp-button {
        &.primary {
            background-color: $gappSuccess;
            &:hover {
                background-color: $gappSuccess;
            }
        }
    }
    
}
