<div class="navmenu-container">
    <md-card class="card">
        <md-card-header>
            <div md-card-avatar class="avatar" ngStyle="{'background-image': 'url(' + user.photoURL + ')'}"></div>
            <md-card-title>
                <md-icon>perm_contact_calendar</md-icon>
                <span>{{user.displayName || 'Anonym user'}}</span>
                <span>{{user.email || 'Not found'}}</span>
            </md-card-title>
            <md-card-subtitle>
                <md-icon>room</md-icon>
                <span>{{user.location || 'No location found'}}</span>
            </md-card-subtitle>
        </md-card-header>
        
        <md-card-content>
            <p>{{user.about || 'No detailed information'}}</p>
        </md-card-content>
         <md-card-actions>
            <button md-raised-button [routerLink]="['/login']" (click)="sidenav.close(); logout()">
            <md-icon class="md-24">power_settings_new</md-icon>
                {{"User.logout" | translate}}
            </button>
        </md-card-actions>
    </md-card>
</div>