@import '../../app/app.component.scss';

.navmenu-container {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    .card {
        .avatar {
            background-size: cover;
            width: 60px;
            height: 60px;
        }
    }
}