@import '../../app/app.scss';

.header-container {
    height: 40px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    border-bottom: 1px solid $gappPrimary;
    background-color: $gappPrimary;
    .logo {
        height: 100%;
        cursor: pointer;
        position: absolute;
        right: 50px;
        @media #{$mobile-portrait} {
            display: none;
        }
        img {
            height: 100%;
        }
    }
    button {
        color: $gappWhite;
        &.right {
            position: absolute;
            right: 0;
        }
    }
}