@import '../../app/app.component.scss';

.header-container {
    height: 40px;
    padding: 0 0 0 40px;
    border-bottom: 1px solid $gappPrimary;
    background-color: $gappPrimary;
    .logo {
        width: 140px;
        height: 100%;
        float: right;
        cursor: pointer;
        @media #{$mobile-portrait} {
            display: none;
        }
        img {
            height: 100%;
        }
    }
    button {
        height: 40px;
        color: $gappWhite;
    }
}