
/*colors*/
$gappWhite: rgb(242, 242, 242);
$gappBlack: rgb(16, 16, 16);
$gappPrimary: rgb(26, 163, 255);
$gappSuccess: rgb(102, 255, 102);
$gappWarning: rgb(255, 179, 102);
$gappDanger: rgb(153, 0, 0);
$gappDefault: rgb(180, 180, 180);
$icon: rgb(102, 102, 102);

/*resolutions*/
$desktop: "(min-width: 1024px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$mobile-landscape: "(min-width: 421px) and (max-width: 767px)";
$mobile-portrait: "(max-width: 420px)";