@import '../../../assets/global/variables.scss';
//@import '../../../assets/fonts/font.css';

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gapp-button {
    &.primary {
        background-color: $gappPrimary;
        color: $gappWhite;
    }
    &.success {
        background-color: $gappSuccess;
        color: $gappWhite;
    }
    &.warning {
        color: $gappDanger;
        &:hover {
            background-color: $gappWarning;
        }
    }
    &.danger {
        background-color: $gappDanger;
        color: $gappWhite;
    }
    &.default {
        color: $gappBlack;
        &:hover {
            background-color: $gappDefault;
        }
    }
    &.full-width {
        width: 100%;
    }
}
.right {
    float: right;
}
