@import '../../app/app.component.scss';

.header-container {
    height: 40px;
    padding: 0 0 0 50px;
    border-bottom: 1px solid $gappSuccess;
    background-color: $gappSuccess;
    box-shadow: 0 1px 10px $gappSuccess;
    button {
        height: 40px;
    }
}