@import '../../app/app.component.scss';

.footer-container {
    background-color: rgba($gappGreen, 0.7);
    p {
        margin: 0;
        text-align: center;
        color: $gappWhite;
        padding: 0.5em 0;
    }
}