<div class="login-container">
    <div class="login-form">
        <md-toolbar color="primary" class="login-header">
            <i class="material-icons">lock_outline</i>
            <span>Login</span>
        </md-toolbar>
        <md-card-content>
            <form class="form">
                <md-input-container class="full-width">
                    <input mdInput placeholder="Username">
                </md-input-container>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Password">
                </md-input-container>
                <a md-raised-button color="primary">Log In</a>
                <a md-button class="right">Cancel</a>
                <div class="additional">
                    <a md-button color="warn">Forgot Password ?</a>
                    <a md-raised-button color="accent" class="right">Sign Up</a>
                </div>
            </form>
        </md-card-content>
    </div>
</div>