
/*colors*/
$gappWhite: rgb(242, 242, 242);
$black: #000;
$gappGreen: rgb(102, 255, 102);
$gappOrange: rgb(255, 179, 102);
$icon: rgb(102, 102, 102);
$primary: #673ab7;

/*resolutions*/
$desktop: "(min-width: 1024px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$mobile-landscape: "(min-width: 421px) and (max-width: 767px)";
$mobile-portrait: "(max-width: 420px)";