
/*colors*/
$white: #fff;
$black: #000;
$lncYellow: rgb(255, 204, 0);
$lncRed: rgb(204, 2, 2);
$icon: rgb(102, 102, 102);
$primary: #673ab7;

/*resolutions*/
$desktop: "(min-width: 1024px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$mobile-landscape: "(min-width: 421px) and (max-width: 767px)";
$mobile-portrait: "(max-width: 420px)";