<div class="register-container">
    <div class="register-form" [ngClass]="{'loading': loading}">
        <md-toolbar class="register-header">
            <i class="material-icons">lock_outline</i>
            <span>{{"User.register" | translate}}</span>
            <div class="logo">
                <img src="../../../assets/img/logo.png" />
            </div>
        </md-toolbar>
        <md-card-content>
            <div class="form" role="form">
                <md-input-container class="full-width">
                    <input mdInput [(ngModel)]="user.email" #em="ngModel" name="em" autocomplete="off" required>
                    <md-placeholder>
                        <md-icon>email</md-icon> {{"User.email" | translate}}
                    </md-placeholder>
                    <md-hint *ngIf="!em.pristine && !user.email">
                        <span [hidden]="!em.errors?.required"><md-icon>error_outline</md-icon>Email is required</span>
                    </md-hint>
                </md-input-container>
                <md-input-container class="full-width">
                    <input mdInput type="password" mdInput [(ngModel)]="user.password" #pd="ngModel" name="pd" autocomplete="off" required>
                    <md-placeholder>
                        <md-icon>lock</md-icon> {{"User.password" | translate}}
                    </md-placeholder>
                    <md-hint *ngIf="!pd.pristine && !user.password">                        
                        <span [hidden]="!pd.errors?.required"><md-icon>error_outline</md-icon>Password is required</span>
                    </md-hint>
                </md-input-container>
                <md-input-container class="full-width">
                    <input mdInput type="password" mdInput [(ngModel)]="user.confirmPassword" #cpd="ngModel" name="cpd" autocomplete="off" required>
                    <md-placeholder>
                        <md-icon>lock</md-icon> {{"User.confirmpassword" | translate}}
                    </md-placeholder>
                    <md-hint *ngIf="user.confirmPassword != user.password">
                        <span><md-icon>error_outline</md-icon>Passwords don't match</span>
                    </md-hint>
                </md-input-container>
                <div class="additional">
                    <div *ngIf="isRegistered == false">
                        <span>Wrong email or password</span>
                    </div>
                    <button md-button class="gapp-button default" [routerLink]="['../login']">{{"User.cancel" | translate}}</button>
                    <button md-raised-button class="gapp-button success right" (click)="register(user)" [disabled]="!user.email || !user.password || !user.confirmPassword">{{"User.signup" | translate}}</button>
                </div>
            </div>
        </md-card-content>
    </div>
     <div *ngIf="loading" class="loading">
        <md-spinner></md-spinner>
    </div>
</div>